body {
    background-color: #7c7c7c;
    margin: 0;
}
.app{
    display: grid;
    place-items: center;
    background-color: #7c7c7c;
    margin-bottom: 7rem;
}
.todo{
    display: grid;
    place-items: center;
    background-color: #80859c;
    margin-bottom: 1vh;
    margin-top: 0.5vh;
    border: 0.30rem solid #FFFFFF;
    border-radius: 5%;
    width: 35%;
}

.todo-text{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.buttons{
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0.3rem;
}

.buttons button{
    margin-top: 0.4rem;
    margin-bottom: 0.3rem;
    color:black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.checkbox{
    display: flex;
    justify-content: space-between;
}

.checkbox p{
    color: #FFFFFF;
    font-weight: 600;
}
.checkbox input{
    transform: scale(1.5);
    padding-left: 2rem;
}

.navbar h1{
    padding-top: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    text-align: center;
    background-color: white;
    padding-bottom: 1rem;
    height: 7rem;
    border-bottom: 0.2rem black solid;
    border-top: 0.2rem black solid;

}

.input{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 1.3rem;
}

.textbox{
    padding: 0.35rem;
    width: 20rem;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}